In [1]:
import csv

# Table 1: ShoeName, Category, Number of Colors, Price
table1_data = [
    ['ShoeName', 'Category', 'No. of Colors', 'Price'],
    ['Sneakers', 'Men', '5', '59.99'],
    ['Boots', 'Women', '4', '79.99'],
    ['Sandals', 'Women', '3', '39.99'],
    # Add more rows as needed
]

with open('Table1.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(table1_data)

# Table 2: Count of Sizes, Colors, Style code/Product code
table2_data = [
    ['Count of Sizes', 'Colors 1', 'Color 2', 'Color 3', 'Color 4', 'Color 5', 'Style Code/Product Code'],
    ['10', 'Blue', 'Black', 'White', 'Red', 'Green', 'SC001'],
    ['8', 'Brown', 'Beige', 'Gray', '', '', 'SC002'],
    ['12', 'Purple', 'Yellow', '', '', '', 'SC003'],
    # Add more rows as needed
]

with open('Table2.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(table2_data)

# Table 3: Reviews, Size, Comfort, Durability/Quality/Performance, Star Rating
table3_data = [
    ['Reviews', 'Size', 'Comfort', 'Durability/Quality/Performance', 'Star Rating'],
    ['Great shoes!', '10', '9', '8', '5'],
    ['Comfy and stylish', '8', '10', '9', '4'],
    ['Durable but not comfortable', '9', '7', '10', '3'],
    # Add more rows as needed
]

with open('Table3.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(table3_data)

In [ ]:
import sqlite3

# Connect to a database (create one if it doesn't exist)
conn = sqlite3.connect('shoes_database.db')
cursor = conn.cursor()

# Table 1: ShoeName, Category, No. of Colors, Price (assuming this is the table structure)

# 1. Retrieve all shoe names and their corresponding prices for men's shoes
query_1 = "SELECT ShoeName, Price FROM Table1 WHERE Category = 'Men'"
cursor.execute(query_1)
result_1 = cursor.fetchall()
print("Query 1:")
print(result_1)

# 2. Retrieve the number of different colors available for each category
query_2 = "SELECT Category, COUNT(DISTINCT No_of_Colors) AS NumColors FROM Table1 GROUP BY Category"
cursor.execute(query_2)
result_2 = cursor.fetchall()
print("\nQuery 2:")
print(result_2)

# 3. Find the most expensive men's shoe
query_3 = "SELECT ShoeName, Price FROM Table1 WHERE Category = 'Men' ORDER BY Price DESC LIMIT 1"
cursor.execute(query_3)
result_3 = cursor.fetchall()
print("\nQuery 3:")
print(result_3)

# 4. Find the cheapest women's shoe in a specific color (e.g., 'Black')
color = 'Black'
query_4 = "SELECT ShoeName, Price FROM Table1 WHERE Category = 'Women' AND LOWER(Color) = ? ORDER BY Price ASC LIMIT 1"
cursor.execute(query_4, (color.lower(),))
result_4 = cursor.fetchall()
print("\nQuery 4:")
print(result_4)

# 5. Retrieve all shoe names and their corresponding prices for men's shoes
query_5 = "SELECT ShoeName, Price FROM Table1 WHERE Category = 'Men'"
cursor.execute(query_5)
result_5 = cursor.fetchall()
print("\nQuery 5:")
print(result_5)

# Close the connection
conn.close()

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('shoes_database.db')
cursor = conn.cursor()

# Table 2: Count of Sizes, Colors, Style code/Product code (assuming this is the table structure)

# 1. Retrieve the count of sizes for all styles
query_1 = "SELECT Style_Code, COUNT(*) AS Size_Count FROM Table2 GROUP BY Style_Code"
cursor.execute(query_1)
result_1 = cursor.fetchall()
print("Query 1:")
print(result_1)

# 2. List all styles with their associated colors
query_2 = "SELECT Style_Code, Colors_1, Color_2, Color_3, Color_4, Color_5 FROM Table2"
cursor.execute(query_2)
result_2 = cursor.fetchall()
print("\nQuery 2:")
print(result_2)

# 3. Find styles that have more than one color
query_3 = "SELECT Style_Code FROM Table2 WHERE (Color_2 IS NOT NULL) OR (Color_3 IS NOT NULL) OR (Color_4 IS NOT NULL) OR (Color_5 IS NOT NULL)"
cursor.execute(query_3)
result_3 = cursor.fetchall()
print("\nQuery 3:")
print(result_3)

# 4. Find the count of sizes available for each color for a specific style code
specific_style_code = 'SC001'
query_4 = f"SELECT '{specific_style_code}' AS Style_Code, Colors_1 AS Color, COUNT(*) AS Size_Count FROM Table2 WHERE Style_Code = ? GROUP BY Colors_1"
cursor.execute(query_4, (specific_style_code,))
result_4 = cursor.fetchall()
print("\nQuery 4:")
print(result_4)

# 5. Find styles that have a specific color
specific_color = 'Black'
query_5 = f"SELECT Style_Code FROM Table2 WHERE Colors_1 = ? OR Color_2 = ? OR Color_3 = ? OR Color_4 = ? OR Color_5 = ?"
cursor.execute(query_5, (specific_color, specific_color, specific_color, specific_color, specific_color))
result_5 = cursor.fetchall()
print("\nQuery 5:")
print(result_5)

# Close the connection
conn.close()

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('shoes_database.db')
cursor = conn.cursor()

# Table 3: Reviews, Size, Comfort, Durability/Quality/Performance, Star Rating (assuming this is the table structure)

# 1. Calculate the average comfort rating for a specific product based on its reviews
specific_product = 'Product_ABC'
query_1 = f"SELECT AVG(Comfort) AS Avg_Comfort_Rating FROM Table3 WHERE Product = ?"
cursor.execute(query_1, (specific_product,))
result_1 = cursor.fetchall()
print("Query 1:")
print(result_1)

# 2. Retrieve products with high star ratings (e.g., 4 stars or above)
star_threshold = 4
query_2 = f"SELECT Product FROM Table3 WHERE Star_Rating >= {star_threshold}"
cursor.execute(query_2)
result_2 = cursor.fetchall()
print("\nQuery 2:")
print(result_2)

# 3. Count the number of reviews for each product
query_3 = "SELECT Product, COUNT(*) AS Review_Count FROM Table3 GROUP BY Product"
cursor.execute(query_3)
result_3 = cursor.fetchall()
print("\nQuery 3:")
print(result_3)

# 4. Retrieve products that have a quantified durability/quality/performance rating above a certain threshold (e.g., above 7)
threshold_rating = 7
query_4 = f"SELECT Product FROM Table3 WHERE Durability > {threshold_rating} OR Quality > {threshold_rating} OR Performance > {threshold_rating}"
cursor.execute(query_4)
result_4 = cursor.fetchall()
print("\nQuery 4:")
print(result_4)

# 5. Calculate the average comfort rating for each size
query_5 = "SELECT Size, AVG(Comfort) AS Avg_Comfort_Rating FROM Table3 GROUP BY Size"
cursor.execute(query_5)
result_5 = cursor.fetchall()
print("\nQuery 5:")
print(result_5)

# Close the connection
conn.close()

In [ ]:
#join 3 tables

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('shoes_database.db')
cursor = conn.cursor()

# 1. Find the top-rated men's shoes along with their sizes from Table1 and Table3
query_1 = """
SELECT T1.ShoeName, T3.Size, T3.Star_Rating
FROM Table1 AS T1
JOIN Table3 AS T3 ON T1.ShoeName = T3.Product
WHERE T1.Category = 'Men'
ORDER BY T3.Star_Rating DESC
LIMIT 5
"""
cursor.execute(query_1)
result_1 = cursor.fetchall()
print("Query 1:")
print(result_1)

# 2. Calculate the average comfort rating for each category from Table1 and Table3
query_2 = """
SELECT T1.Category, AVG(T3.Comfort) AS Avg_Comfort_Rating
FROM Table1 AS T1
JOIN Table3 AS T3 ON T1.ShoeName = T3.Product
GROUP BY T1.Category
"""
cursor.execute(query_2)
result_2 = cursor.fetchall()
print("\nQuery 2:")
print(result_2)

# 3. Identify products with a durability/quality/performance rating higher than the average from Table1 and Table3
query_3 = """
SELECT T1.ShoeName, T3.Durability, T3.Quality, T3.Performance
FROM Table1 AS T1
JOIN Table3 AS T3 ON T1.ShoeName = T3.Product
WHERE (T3.Durability + T3.Quality + T3.Performance) > 
      (SELECT AVG(Durability + Quality + Performance) FROM Table3)
"""
cursor.execute(query_3)
result_3 = cursor.fetchall()
print("\nQuery 3:")
print(result_3)

# 4. Subquery: Find products with comfort ratings above the average comfort rating using Table1 and Table3
query_4 = """
SELECT *
FROM (
    SELECT T3.Product, AVG(T3.Comfort) AS Avg_Comfort
    FROM Table3 AS T3
    GROUP BY T3.Product
) AS AvgComfort
JOIN Table1 AS T1 ON AvgComfort.Product = T1.ShoeName
WHERE T1.Category = 'Men' AND T1.Price > AvgComfort.Avg_Comfort
"""
cursor.execute(query_4)
result_4 = cursor.fetchall()
print("\nQuery 4:")
print(result_4)

# 5. Join Table1 and Table2 using the "Style code/Product code" column
query_5 = """
SELECT T1.ShoeName, T2.*
FROM Table1 AS T1
JOIN Table2 AS T2 ON T1.Style_code = T2.Style_code
"""
cursor.execute(query_5)
result_5 = cursor.fetchall()
print("\nQuery 5:")
print(result_5)

# 6. Identify products with a star rating above the average star rating for their respective size
query_6 = """
SELECT T3.Product, T3.Size, T3.Star_Rating
FROM Table3 AS T3
WHERE T3.Star_Rating >
    (SELECT AVG(Star_Rating) FROM Table3 AS SubT3 WHERE SubT3.Size = T3.Size)
"""
cursor.execute(query_6)
result_6 = cursor.fetchall()
print("\nQuery 6:")
print(result_6)

# 7. Find products with the highest comfort rating in each category
query_7 = """
SELECT T1.Category, T1.ShoeName, MAX(T3.Comfort) AS Max_Comfort_Rating
FROM Table1 AS T1
JOIN Table3 AS T3 ON T1.ShoeName = T3.Product
GROUP BY T1.Category
"""
cursor.execute(query_7)
result_7 = cursor.fetchall()
print("\nQuery 7:")
print(result_7)

# Close the connection
conn.close()